name: build core

on: 
  push: 

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: build
        run: |
          git clone --depth=1 --single-branch -b main https://github.com/xtls/libxray.git
          python3 libxray/build/main.py linux

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v7.0.0
        with:
          name: linux
          path: libxray/bin/xray

  android:
    runs-on: ubuntu-latest
    steps:
      - name: build
        run: |
          git clone --depth=1 --single-branch -b main https://github.com/xtls/libxray.git
          python3 libxray/build/main.py android

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v7.0.0
        with:
          name: android
          path: libxray/libXray.aar
