name: build core

on: 
  workflow_dispatch: 

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: build
        run: |
          git clone --depth=1 --single-branch -b main https://github.com/xtls/libxray.git
          python3 libxray/build/main.py linux

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: linux
          path: libxray/bin/xray

  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version: 'stable' 
          check-latest: true
        
      - name: Install Gomobile and NDK
        run: |
          go install golang.org/x/mobile/cmd/gomobile@latest
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
          gomobile init

      - name: build android
        run: |
          git clone --depth=1 --single-branch -b main https://github.com/xtls/libxray.git
          export ANDROID_NDK_HOME=$ANDROID_NDK_LATEST_HOME
          python3 libxray/build/main.py android


      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: android
          path: libxray/libXray.aar
